:root {
    --grayscaleFactor: 0.5;
    --colorColor: black;
    --colorOpacity: 0.5;
    --borderThickness: 10px;
    --borderStyle: solid;
    --borderColor: red;
    --labelOpacity:1;
    --labelTextAlign: center;
    --labelPaddingTop:100%;
    --labelSize: 12px;
    --labelColor: black;
}

.adclipse-ad {
    border: 10px solid red;
    content: "Ad identified by Adclipse";
}

.adclipse-ad::before {
    content: "Adclipse Identitfied Ad";
    font-weight: 900;
}

.adclipse-ad * {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.adclipseGrayscale * {
    filter: grayscale(var(--grayscaleFactor));
}

.adclipseBorder {
    border: var(--borderThickness) var(--borderStyle) var(--borderColor);
}

.adclipseColor {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index: 1000;
    background: var(--colorColor);
    opacity: var(--colorOpacity);
    filter:none;
}


.adclipseLabel{
    font-size: var(--labelSize);
    opacity: var(--labelOpacity);
    padding-top:var(--labelPaddingTop);
    text-align: var(--labelTextAlign);
    color: var(--labelColor);
    font-weight: 900;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index: 1001;
}

.adclipseRelative{
    position: relative;
}